    /* Styles for Research Experience Section */
.research-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

.research-title {
    cursor: pointer;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.research-title:hover {
    color: #007BFF;
}

.research-content {
    display: none; /* Hidden by default */
    margin-top: 10px;
    color: #444;
}

.research-content ul {
    list-style-type: disc;
    padding-left: 20px;
}
/* Styles for More About Me Section */
.about-item {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
}

.about-title {
    cursor: pointer;
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
    transition: color 0.3s ease;
}

.about-title:hover {
    color: #007BFF;
}

.about-content {
    display: none; /* Hidden by default */
    margin-top: 10px;
    color: #444;
}
}
